<style>
    input{
        border-radius: 5px;
    }
</style>
<p style="color:red">databinding works!</p>

<div>My name is- {{userName}}</div>
<div>My name is- <span [innerHTML]="userName"></span></div>
1 way: <input value={{userName}} />&nbsp;
1 way: <input [value]=userName /> &nbsp;
2 way: <input [(ngModel)]="userName" /> <br />&nbsp;

<img src={{img_url}} />
<img [src]=img_url /> <br />

<button disabled={{flag}}>Click Me</button> &nbsp;
<button [disabled]=flag>Click Me</button> &nbsp;

<button (click)="f1()">show alert</button> &nbsp;
<hr>

Number-1:: <input #num1 /> <br>
Number-2:: <input #num2 /> <br>
<button (click)="addition(num1.value,num2.value)">Add</button>
<hr>

<h1 [hidden]="flag">Hellooooooooooooooooooooooooooo Angularrrrrrrrrrrrrrrrrr</h1>
<button (click)="flag=!flag">{{flag?'SHOW':'HIDE'}}</button>
<hr>

<input type="{{flag?'text':'password'}}" /> <br />
<input type="checkbox" (click)="flag=!flag"> SHOW PASSWORD <br />


<textarea maxlength="100" [(ngModel)]="msg"></textarea>
Remaining Chars:{{100 - msg.length}}

<hr>
<h3>Calculator</h3>
<input [(ngModel)]="n1" type="number" /> &nbsp;
<input [(ngModel)]="n2" type="number" /> &nbsp;
<div>Addition of {{n1}} & {{n2}} is {{n1+n2}}</div>