<div class="container">
    <div class="row m-1">
        <input type="search" [(ngModel)]="searchText" placeholder="Search here..." class="col-sm-6 offset-3">

        <div class="col-sm-2">
            <button (click)="sortAsc()" class="btn btn-primary m-2">Asc</button>
            <button (click)="sortDesc()" class="btn btn-secondary">Desc</button>
        </div>
    </div>
    <div class="row">
        <div *ngFor="let prod of products| paginate: { itemsPerPage: 4, currentPage: p } | filter : searchText"
            class="col-sm-3">
            <div class="card text-center">
                <img src={{prod.image}} class="card-img-top" style="height:200px">
                <div class="card-body">
                    <h5 class="card-title">{{prod.category}}</h5>
                    <p class="card-text">{{prod.title}}</p>
                    <p class="card-text">Price: {{prod.price}}</p>
                    <button (click)="openPopup(prod)" class="btn btn-secondary m-1">View</button>
                    <a href="#" class="btn btn-primary">BUY NOW</a>
                </div>
            </div>
        </div>
        <div class="text-center m-2 p-2">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{ display: displayStyle }">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content text-center">
            <div class="modal-header">
                <h4 class="text-center">Product Details</h4>
                <button (click)="closePopup()" type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <img src={{selectedProduct?.image}} class="card-img-top" style="height:200px;width:300px">
                <h5 class="card-title">{{selectedProduct?.category}}</h5>
                <p class="card-text">{{selectedProduct?.title}}</p>
                <p class="card-text">Price: {{selectedProduct?.price}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="closePopup()">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>